---
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../content/blog/*.md");
  return posts.map((p) => ({
    params: { slug: p.file.split("/").pop().split(".").shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate, collection } = frontmatter;
---

<BaseLayout title={title} description={description} current="blog">
  <header>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 33%;
  }

  i {
    margin-right: 6px;
    height: 0.5em;
  }

  .post-item-date-prova {
    color: black;
    background-color: var(--text-secondary);
    opacity: 0.73;
    text-align: left;
    text-transform: uppercase;
    width: min-content;
    padding: 6px 10px;
    margin: 0 10px 6px 0px;
    border-radius: 6px;
    font-size: 0.5em;
  }
</style>
