---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Person from "../../components/smaller/PersonCard.astro";
import Header from "../../components/Header.astro";
import Divider from "../../components/smaller/Divider.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <br />
  <center><h2 class="year">Winter Class of 2023</h2></center>
  <div class="container">
    <Person
      name="Matteo Parimbelli"
      role="President"
      image="MatteoParimbelli.jpg"
      links={{
        linkedin: "https://www.linkedin.com/in/matteo-parimbelli-959a0314b",
      }}
    />
    <Person
      name="Jaime Enriquez"
      role="Vice President"
      image="JaimeEnriquez.jpg"
      links={{
        github: "https://github.com/ebjaime",
        linkedin: "https://www.linkedin.com/in/jaime-enriquez-6ba89b1bb/",
      }}
    />
    <Person
      name="Marco Ronconi"
      role="Secretary & Communication"
      image="MarcoRonconi.jpg"
      links={{
        mail: "marco.ronconi1@gmail.com",
        linkedin: "http://linkedin.com/in/marcoronconi",
        instagram: "https://instagram.com/_marco.ronconi_?utm_source=qr",
      }}
    />
    <Person
      name="Filippo Cinfrignini"
      role="Treasurer & Website"
      image="Filippo_Cinfrignini.jpg"
      links={{
        linkedin: "https://www.linkedin.com/in/filippo-cinfrignini",
        twitter: "https://twitter.com/filippocinfri",
      }}
    />
    <Person
      name="Antonio Conte"
      role="Podcast"
      image="Antonio_Conte.png"
      links={{
        mail: "antonio.conte@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/antonio-c-a95b5a236/",
      }}
    />
    <Person
      name="Federico Nicolò"
      role="Events"
      image="FedericoNicolo.jpg"
      links={{
        mail: "federico.nicolo@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/federico-nicol%C3%B2-a72552252/",
        instagram: "https://www.instagram.com/federico.nicolo/",
      }}
    />
    <Person
      name="Erfan Amidi"
      role="People & Organization"
      image="Erfan_Amidi.jpg"
      links={{
        mail: "erfan.amidi@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/erfanamidi",
      }}
    />
  </div>
  <Divider />
  <center><h2 class="year">Class of 2023</h2></center>
  <div class="container">
    <Person
      name="Davide Zamagna"
      role="President & Communications"
      image="Davide_Zamagna.jpg"
      links={{
        mail: "davide.zamagna@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/davide-zamagna-25059a176/]",
      }}
    />
    <Person
      name="Jaime Enriquez"
      role="Vice President & Projects"
      image="je.png"
      links={{
        mail: "jaime.enriquez@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/jaime-enriquez-6ba89b1bb/",
      }}
    />
    <Person
      name="Francesco Puddu"
      role="Secretary"
      image="Francesco_Puddu.png"
      links={{
        mail: "francesco.puddu@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/puddufrancesco/",
      }}
    />
    <Person
      name="Riccardo Pellini"
      role="Treasurer"
      image="rp.png"
      links={{
        mail: "riccardo.pellini@polimidatascientists.it",
        linkedin: "http://linkedin.com/in/riccardo-pellini-1861901b4",
      }}
    />
    <Person
      name="Antonio Conte"
      role="Podcast"
      image="Antonio_Conte.png"
      links={{
        mail: "antonio.conte@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/antonio-c-a95b5a236/",
      }}
    />
    <Person
      name="Filippo Cinfrignini"
      role="website"
      image="Filippo_Cinfrignini.jpg"
      links={{
        twitter: "https://twitter.com/filippocinfri",
        linkedin: "https://www.linkedin.com/in/filippo-cinfrignini",
      }}
    />
    <Person
      name="Gianmario Careddu"
      role="Events"
      image="gc.png"
      links={{
        mail: "gianmario.careddu@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/gianmario-careddu-b739321a1/",
      }}
    />
    <Person
      name="Pietro Zunino"
      role="People & Organization"
      image="Pietro_Zunino.png"
      links={{
        mail: "pietro.zunino@polimidatascientists.it",
      }}
    />
    <Person
      name="Alma Isabella Castellanos"
      role="Graphics"
      image="Alma_Isabella_Castellanos.png"
      links={{
        mail: "almaisabella.castellanos@polimidatascientists.it",
      }}
    />
  </div>
  <Divider />
  <center><h2 class="year">Class of 2022</h2></center>
  <div class="container">
    <Person
      name="Arianna Galzerano"
      role="President"
      image="ag.jpg"
      links={{
        mail: "arigalzi@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/arianna-galzerano/",
        instagram: "https://www.instagram.com/ari.galzi/",
      }}
    />
    <Person
      name="Alessandro Messori"
      role="Vice President • Project Manager"
      image="am.png"
      links={{
        mail: "alessandro.messori@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/alessandro-messori-a295a619b/",
        instagram: "https://www.instagram.com/alessandromessori/",
      }}
    />
    <Person
      name="Francesco Govigli"
      role="Vice President"
      image="fg.png"
      links={{
        mail: "francesco.govigli@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/francesco-govigli-5800451b",
        instagram: "https://instagram.com/frank_legov?igshid=9b7pbc7bammb",
      }}
    />
    <Person
      name="Davide Zamagna"
      role="Secretary • Social Media Manager"
      image="Davide_Zamagna.jpg"
      links={{
        mail: "davide.zamagna@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/davide-zamagna-25059a176/]",
      }}
    />
    <Person
      name="Andrea Figini"
      role="Treasurer • Social Media"
      image="af2.png"
      links={{
        mail: "andrea.figini@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/andrea-figini-a40268216",
      }}
    />
    <Person
      name="Matteo Ruffo"
      role="Graphic Manager"
      image="mr3.jpg"
      links={{
        mail: "antonio.conte@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/antonio-c-a95b5a236/",
      }}
    />
    <Person
      name="Roberto Spatafora"
      role="Team Member • Social Media"
      image="rs.png"
      links={{
        mail: "roberto.spatafora98@gmail.com",
        linkedin: "http://www.linkedin.com/in/roberto-spatafora",
        instagram: "https://www.instagram.com/robertospatafora/",
      }}
    />
    <Person
      name="Francesca Anfossy"
      role="Team Member • Podcast"
      image="fa.png"
      links={{
        mail: "fpj.aa@ikmail.com",
        linkedin: "https://www.linkedin.com/in/fpjaa",
      }}
    />
    <Person
      name="Yasmin Awad"
      role="Team Member • Graphics"
      image="ya.png"
      links={{
        mail: "yasmin9856@gmail.com",
        linkedin: "https://www.linkedin.com/in/yasmin-awad-119421225/",
        github: "https://github.com/YasminAwad",
      }}
    />
    <Person
      name="Daiana Baitakova"
      role="Team Member • Social Media"
      image="db2.jpg"
      links={{
        mail: "daiana.baitakova@mail.polimi.it",
      }}
    />
    <Person
      name="Gianmario Careddu"
      role="Events Manager"
      image="gc.png"
      links={{
        mail: "gianmario.careddu@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/gianmario-careddu-b739321a1/",
      }}
    />
    <Person
      name="Sara Civardi"
      role="HR Manager"
      image="sc.jpg"
      links={{
        mail: "sara.civardi@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/mwlite/in/sara-civardi-439251135",
      }}
    />
    <Person
      name="Simone Drago"
      role="Podcast Manager"
      image="sd.png"
      links={{
        mail: "simone.drago@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/drago-simone/",
        instagram: "https://www.instagram.com/dragosimo/",
      }}
    />
    <Person
      name="Jaime Enriquez"
      role="Projects"
      image="je.png"
      links={{
        mail: "jaime.enriquez@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/jaime-enriquez-6ba89b1bb/",
      }}
    />
    <Person
      name="Paolo Ginefra"
      role="Projects"
      image="pg.png"
      links={{
        mail: "paolo.ginefra@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/paolo-ginefra",
        instagram: "https://www.instagram.com/paolo_ginefra/",
      }}
    />
    <Person
      name="Maria Golikova"
      role="Projects"
      image="mg.png"
      links={{
        mail: "maria.golikova@polimidatascientists.it",
        linkedin: "https://www.linkedin.com/in/maria-golikova-9920bb204/",
        instagram: "https://www.instagram.com/mashine59/",
        telegram: "https://t.me/mash1ne/",
      }}
    />
    <Person
      name="Riccardo Pellini"
      role="Events Manager"
      image="rp.png"
      links={{
        mail: "riccardo.pellini@polimidatascientists.it",
        linkedin: "http://linkedin.com/in/riccardo-pellini-1861901b4",
      }}
    />
  </div>
  <Divider />
  <center><h2 class="year">Class of 2021</h2></center>
  <div class="container">
    <Person
      name="Kai Wen Cui"
      role="President"
      image="kw2.jpg"
      links={{
        mail: "kaiwen.cui@gmail.com",
        linkedin: "https://www.linkedin.com/in/kaiwencui/",
        twitter: "https://twitter.com/cuikaiwen",
      }}
    />
    <Person
      name="Massimiliano Sica"
      role="Treasurer"
      image="ms.png"
      links={{
        mail: "massimiliano.sica@mail.polimi.it",
        linkedin: "https://www.linkedin.com/in/massimiliano-sica/",
      }}
    />
    <Person
      name="Aida Denisa Opîrlesc"
      role="Team Member • Projects"
      image="ad.png"
      links={{
        mail: "aidadenisa.opirlesc@mail.polimi.it",
        linkedin: "https://www.linkedin.com/in/aida-op%C3%AErlesc-9317a0115/",
        instagram: "https://www.instagram.com/aidadenisa/",
      }}
    />
    <Person
      name="Théo Saulus"
      role="International Collaborations"
      image="ts.png"
      links={{
        mail: "theomarc.saulus@mail.polimi.it",
        linkedin: "https://www.linkedin.com/in/theo-saulus/",
      }}
    />
  </div>
  <Divider />
  <center><h2 class="year">Class of 2020</h2></center>
  <div class="container">
    <Person
      name="Alex Bergamasco"
      role="Secretary"
      image="ab.jpg"
      links={{
        mail: "alexbergamasco@live.it",
        linkedin: "https://www.linkedin.com/in/alexbergamasco/",
      }}
    />
    <Person
      name="Francesco Alongi"
      role="Treasurer"
      image="fa.jpg"
      links={{
        mail: "alongi.francesco96@gmail.com",
        linkedin: "https://www.linkedin.com/in/francesco-alongi/",
      }}
    />
    <Person
      name="Stiven Metaj"
      role="Vice-President"
      image="sm.jpg"
      links={{
        mail: "stivenmetaj@yahoo.com",
        linkedin: "https://www.linkedin.com/in/stivenmetaj/",
        instagram: "https://www.instagram.com/stivenmetaj/",
      }}
    />
  </div>
  <Divider />
  <center><h2 class="year">Class of 2019</h2></center>
  <div class="container">
    <Person
      name="Alex Porciani"
      role="Co-Founder"
      image="apo.jpg"
      links={{
        mail: "porciani.alex@gmail.com",
        linkedin: "https://www.linkedin.com/in/alex-porciani/",
      }}
    />
    <Person
      name="Luca Vavassori"
      role="Co-Founder"
      image="lv.jpg"
      links={{
        mail: "vavassoriluca@yahoo.com",
        linkedin: "https://www.linkedin.com/in/vavassoriluca/",
      }}
    />
    <Person
      name="Flavio Di Palo"
      role="Co-Founder"
      image="fp.jpg"
      links={{
        mail: "flavio.dipalo@gmail.com",
        linkedin: "https://www.linkedin.com/in/flavio-/",
      }}
    />
    <Person
      name="Alessandro Paticchio"
      role="Vice-President"
      image="ap.jpg"
      links={{
        mail: "alessandropaticchio@gmail.com",
        linkedin: "https://www.linkedin.com/in/alessandro-paticchio-a3b6b7138/",
      }}
    />
    <Person
      name="Marco Varrone"
      role="President"
      image="mv.jpg"
      links={{
        mail: "marco.varrone@mail.polimi.it",
        linkedin: "https://www.linkedin.com/in/marco-varrone/",
        twitter: "https://twitter.com/MarcoVarrone",
      }}
    />
    <Person
      name="Hichame Yessou"
      role="Board Member"
      image="hy.jpg"
      links={{
        mail: "hichame.yessou@gmail.com",
        linkedin: "https://www.linkedin.com/in/hichame-yessou/",
        twitter: "https://twitter.com/hichame_yessou",
      }}
    />
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
  }
</style>
