---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/smaller/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <BaseLayout>
      <main>
        <img
          src="/media/images/logo/logo.webp"
          alt="PMDS logo"
          class="logo"
          width="100%"
          height="auto"
        />
        <center><h1>Welcome!</h1></center>
        <center>
          <h4>We are the Data Science association of PoliMi</h4>
        </center>
        <p class="justify">
          We are committed to maintaining a community of students of PoliMi,
          professionals, and enthusiasts in the Data Science field. We provide a
          meeting point between the university and companies, creating a mutual
          understanding between students and data science realities. We
          periodically organize <a href="/activities">themed events</a> and
          workshops on advanced technologies reserved for our community.
        </p>
      </main>
      <main>
        <Card
          title="Become a Member"
          description="Discover the many advantages. Exclusive events, the newsletter and much more!"
          link="sorry"
        />
      </main>
    </BaseLayout>
    <style>
      .logo {
        max-width: 180px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .justify {
        text-align: justify;
      }
    </style>
  </body>
</html>
