---

---

<div class="section"></div>

<style>
  .section {
    height: 10px;
    width: 250px;
    border-radius: 5px;
    background: url(media/images/other/grad.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
  }
</style>
